<div class="row">
  <div class="col-xs-12" [formGroup]="shoppingForm">
    <div class="mb-3 row">
      <div class="col-md-4">
        <label class="form-label fw-bold" for="name">
          Name
        </label>
        <input id="name" type="text" class="form-control" formControlName="name">
      </div>
      <div class="col-md-2">
        <label class="form-label fw-bold" for="amount">
          Amount
        </label>
        <input id="amount" type="number" class="form-control" formControlName="amount">
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-xs-12">
        <button
          class="btn btn-success mx-1"
          (click)="add()"
        >
          Add
        </button>
        <button
          class="btn btn-outline-secondary mx-1"
          (click)="clear()"
        >
          Clear
        </button>
      </div>
    </div>
  </div>
</div>
