<div class="row mt-4">
  <div class="col-xs-10">
    <acg-shopping-list-edit></acg-shopping-list-edit>
  </div>
  <div class="col-xs-10">
    <ul class="list-group">
      <li
        class="list-group-item clickable hover-gray"
        *ngFor="let ingredient of ingredients$ | async"
      >
        <div class="d-flex justify-content-between">
          <span>
          {{ ingredient.name }} ({{ ingredient.amount }})
          </span>
          <button
            class="btn btn-danger btn-sm rounded-pill"
            (click)="delete(ingredient)"
          >
            Delete
          </button>
        </div>

      </li>
    </ul>
  </div>

</div>
